body{
	font-family: calibri, helvetica, sans-serif;
	background-color: black;
}

nav{
	height: 150px;
	background-color: black;
	position: sticky;
	top: 0;
}

nav .logo{
	display: block;
	width: 562px;
	height: 150px;
	position: absolute;
	background: url(../IMG/logo.png) no-repeat 0 0;
	background-size: 100%;
}

nav ul{
	padding: 0;
	margin: 0 40px 0 0;
}

nav ul li{
	padding: 0;
	margin: 0;
	display: block;
	float: right;
}
nav ul li a{
	display: block;
	height: 90%;
	box-sizing: border-box;
	font-size: 24px;
	font-weight: bold;
	color: #615D5D;
	text-decoration: none;
	padding: 60px 40px;
}

nav ul li a:hover{
	color: whitesmoke;
	cursor: pointer;
	}

h2{
	font-size: 24px;
	color: #615D5D;
}

p{
	font-size: 18px;
	color: #615D5D;

}

ul{
	font-size: 18px;
	color: #615D5D;
	padding: 0 20px;
	box-sizing: border-box;
}

.About-BR {
	margin: 0 auto;
	width: 80%;
}

.About-BR img{

	float: left;
	margin: 0 20px 20px 0;
	width: 150px;
	height: 150px;
}

.Why-the-name{
	clear: both;
	margin: 0 auto;
	width: 80%;
}

.where-can-i-add-value{
	margin: 0 auto;
	width: 80%;
}

.where-can-i-add-value ul{
	width: 50%;
	margin: 0 auto;
}

footer{
	margin: 20px auto 0 auto;
	width: 30%;
}

footer p{
	font-size: 14px;
}

/*<footer>
		<p>This site was created by Mark Lilley on behalf of Blackourful Research&copy;.</p>
	</footer>
*/
