body{
	margin: 20px;
	font-family: 'Playfair Display', circular, san-serif;
	background-color: black;
	color: whitesmoke;
	font-size: 20px;
	line-height: 30px;
}

header img{
	float: left;
	height: 150px;
	width: 33%;
}

h2 {
	color: white;
	font-size: 35px;
	margin: 40px 0 10px;
	}

main{
	max-width: 1000px;
	margin: 20px auto auto;
}

main img {
	float: left;
	border: 10px solid white;
	margin-right: 20px;
	margin-bottom: 10px;
}

a{
	color: blue;
}

a:hover{
	color: whitesmoke;
}

footer {
	text-align: center;
	font-style: italic;
	color: #615D5D;
	padding: 50px;
	margin: 0;
	font-size: 15px;
}
.navigation a {
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  background-color: #615D5D;
  border-radius: 30px;
  color: whitesmoke;
  display: inline-block;
  padding-right: 5%;
  padding-left: 5%;
  margin-top: 3.5%;
}

.navigation a:hover {
	color: black;
}

.navigation {
	background-color: #615D5D;
	float: right;
	text-align: justify;
	width: 67%;
	height: 135px;
	margin-bottom: 2%;
	position: relative;
}

nav {
	width: 100%;
}

li {
	text-decoration: none;
}